{%- if section.settings.show_tabs -%}
  <div class="ProductTabs" data-product-tabs>
    <ul class="ProductTabs__heading">
      {%- if product.metafields.custom.benefits.value -%}
        <li class="ProductTab__title active" data-product-tab-title data-tab-target="benefits">Benefits</li>
      {%- endif -%}
      {%- if product.description -%}
        <li class="ProductTab__title" data-product-tab-title data-tab-target="product-details">Product Details</li>
      {%- endif -%}
      {%- if product.metafields.custom.lab_analysis.value -%}
        <li class="ProductTab__title" data-product-tab-title data-tab-target="lab-analysis" data-product-tab-title>Lab Analysis</li>
      {%- endif -%}
      
      {%- if product.metafields.custom.faqs.value -%}
        <li class="ProductTab__title" data-product-tab-title data-tab-target="faqs">FAQs</li>  
      {%- endif -%}
      {%- if product.metafields.custom.how_it_works.value -%}
        <li class="ProductTab__title" data-product-tab-title data-tab-target="how-it-works">How it works</li>
      {%- endif -%}
    </ul>
    <div class="ProductTabs__content">
      {%- if product.description -%}
        <div class="ProductTab__content product-description" data-tab-content data-tab-for="product-details">
          {{product.description}}
        </div>
      {%- endif -%}

      {%- if product.metafields.custom.lab_analysis.value -%}
        <div class="ProductTab__content page-content" data-tab-content data-tab-for="lab-analysis">
          {{product.metafields.custom.lab_analysis.value.content}}
        </div>
      {%- endif -%}

      {%- if product.metafields.custom.benefits.value -%}
        <div class="ProductTab__content tab-style--multicolumn active" data-tab-content data-tab-for="benefits">
          <div class="product-benefits ProductTabColumnItems">
            {% for benefit in product.metafields.custom.benefits.value %}
              <div class="product-benefit ProductTabColumnItem">
                {%- if benefit.icon -%}
                  <img src="{{benefit.icon | image_url: width: 40}}" alt="" class="product-benefit__icon ProductTabColumnItem__Image desktop-show">
                {%- endif -%}
                <h4 class="product-benefit__title ProductTabColumnItem__Title">
                  {%- if benefit.icon -%}
                    <img src="{{benefit.icon | image_url: width: 40}}" alt="" class="product-benefit__icon ProductTabColumnItem__Image mobile-show">
                  {%- endif -%}
                  <span class="Title">
                    {{benefit.title}}
                  </span>
                  <span class="ProductTabColumnItem__Title__icon">
                    {% render 'icon' with 'plus' %}
                    {% render 'icon' with 'minus' %}
                  </span>
                </h4>
                <div class="product-benefit__content ProductTabColumnItem__Content">{{benefit.content}}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {%- endif -%}

      {%- if product.metafields.custom.faqs.value -%}
        <div class="ProductTab__content" data-tab-content data-tab-for="faqs">
          <div class="faqs" data-faqs>
            {% for faq in product.metafields.custom.faqs.value %}
              <div class="faq-item" data-faq-item>
                <h3 class="faq-title" data-faq-title>{{faq.title}}<span class="faq-title-icon icon-plus">{% render 'icon' with 'plus' %}</span>
                <span class="faq-title-icon icon-minus">{% render 'icon' with 'minus' %}</span></h3>
                <div class="faq-content">
                  {{faq.content | metafield_tag}}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {%- endif -%}

      {%- if product.metafields.custom.how_it_works.value -%}
        <div class="ProductTab__content" data-tab-content data-tab-for="how-it-works">
          <div class="product-how-it-works ProductTabColumnItems">
            {% for how_works_item in product.metafields.custom.how_it_works.value %}
              <div class="product-how-it-works-item ProductTabColumnItem">
                {% if how_works_item.icon %}
                  <img src="{{how_works_item.icon | image_url: width: 40}}" alt="" class="product-how-it-works-item__icon ProductTabColumnItem__Image desktop-show"> 
                {% endif %}
                <h4 class="product-how-it-works-item__title ProductTabColumnItem__Title">
                  {% if how_works_item.icon %}
                    <img src="{{how_works_item.icon | image_url: width: 40}}" alt="" class="product-how-it-works-item__icon ProductTabColumnItem__Image mobile-show"> 
                  {% endif %}
                  <span class="Title">
                    {{how_works_item.title}}
                  </span>
                  <span class="ProductTabColumnItem__Title__icon">
                    {% render 'icon' with 'plus' %}
                    {% render 'icon' with 'minus' %}
                  </span>
                </h4>
                <div class="product-how-it-works-item__content ProductTabColumnItem__Content">{{how_works_item.content | metafield_tag}}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}